ul {
    display: flex;
    flex-direction: row;
    height: 7rem;
    justify-content: space-around;
}

.headerLogo {
    height: 70px;
    min-width: 30px;
    object-fit: contain;
}

li {
    text-align: center;
    align-content: center;
    cursor: pointer;
    padding: 0.5rem;
}

li > a {
    text-decoration: underline 0.15em rgba(255, 254, 254, 0.993);
    transition: text-decoration-color 300ms;
}

li > a:hover {
    text-decoration-color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
    ul {
        Margin: 0 20% 0 20%;
    }

    ul > div {
        margin-left: 20%;
        gap: 10%;
    }
}